#index-projects-container{
  .project{
    margin-bottom: 20px;
    .project-name{
      text-align: center;
      margin: 10px 0;
      font-size: 16px;
    }
    .cover-image{
      text-align: center;
    }
    .info{
      text-align: center;
    }
    .author_name{
      min-height: 50px;
      span.author{
        font-weight: bold;
        padding-right: 5px;
      }
    }
    .action{
      text-align: right;
    }
  }

}
