#show-project-container{
  .cover-image{
    text-align: center;
    margin: 0 0 50px 0;
    border: 1px solid #ccc;
    border-radius:5px;
  }
  .project-info{
    span{
      font-weight: bold;
      margin-right: 10px;
    }
  }
  .item-step{
    .step-level{
      font-size: 16px;
      font-weight: bold;
    }
  }

  #wrap-pagination{
    text-align: center;
  }
}
